div.container-fluid {
    margin-top: 25px;
    margin-bottom: 25px;

    nav.row{
        a{
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    div.row div.timeConnect {
        p {
            margin-top: 5px;
            font-size: 14px;

            span {
                color: green;
            }
        }
    }
}