div.container-fluid {
    margin-top: 25px;
    margin-bottom: 25px;

    nav.row{
        margin-bottom: 55px;
        a{
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    
}